$color-white: #fff;
$color-gray: #808080;
$color-black: #000;

$color-gallery-gray: #eee;
$color-silver-gray: #c8c8c8;

$font-default-serif: 'Merriweather', serif;
$font-default-sans-serif: 'Ubuntu', sans-serif;
