.container {
    width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

[class^=col] {
    flex: 1 0 0%;
    padding: 0 20px;
}
[class^=col-] {
    flex: 1 0 auto;
}

.col {
    &-6 {
        width: 50%;
    }
}
