{% extends '/master/default.twig' %}
{% set subtitle = "Lokacje na planszy" %}

{% block main %}

    <div class="container">
        <h1>{{ subtitle }}</h1>
        <div class="deck" data-module="board"></div>
    </div>

{% endblock %}
