{% extends '/master/default.twig' %}
{% set subtitle = "Dashboard" %}

{% block bodyclass %}class="dark-theme"{% endblock %}

{% block main %}

    <div class="container container--fluid">
        <div class="deck playable" data-module="items-potions"></div>
    </div>

{% endblock %}
