{% extends '/master/default.twig' %}
{% set subtitle = "Dashboard" %}

{% block bodyclass %}class="dark-theme"{% endblock %}

{% block main %}

    <div class="container container--fluid">
        <div class="dashboard">
            <div class="deck playable" data-module="events-global"></div>
            <div class="deck playable" data-module="events-local"></div>
            <div class="deck playable" data-module="traces"></div>
            <div class="deck playable" data-module="traces"></div>
        </div>
        <div class="dashboard">
            <div class="deck playable" data-module="locations"></div>
            <div class="deck playable" data-module="search"></div>
            <div class="deck playable" data-module="search-bronze"></div>
            <div class="deck playable" data-module="search-silver"></div>
            <div class="deck playable" data-module="search-gold"></div>
        </div>
    </div>

{% endblock %}
