{% extends '/master/default.twig' %}
{% set subtitle = "Bohaterowie" %}

{% block main %}

    <div class="container">
        <h1>{{ subtitle }}</h1>
        <div class="deck deck--supporting" data-module="skills"></div>
        <div class="deck" data-module="heroes"></div>
    </div>

{% endblock %}
