{% extends '/master/default.twig' %}
{% set subtitle = "Przedmioty - Księgi" %}

{% block main %}

    <div class="container">
        <h1>{{ subtitle }}</h1>
        <div class="deck" data-module="items-books"></div>
    </div>

{% endblock %}
