.card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0 1rem 1rem 0;
    padding: 0.8rem 0.8rem 0;
    border: 0.2rem solid $color-black;
    border-radius: 0.6rem;
    background-color: $color-white;

    .dark-theme & {
        border-color: $color-gray;
    }
    .playable & {
        position: absolute;
        opacity: 0;
        z-index: 1;
        &.current {
            position: relative;
            opacity: 1;
            z-index: 2;
        }
    }

    .region {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        margin: 0.4rem 0;
        font-size: 1rem;
        &:first-child {
            margin-top: 0;
        }

        &--position {
            &-header {
                height: 3rem;
                align-items: center;
                align-content: center;
            }
            &-cover {
                height: 7rem;

                .icon {
                    margin: 0.4rem 0 0;
                    background: $color-white;
                    border-top-width: 0.1rem;
                    border-color: transparent;
                }
                .corner {
                    &--position {
                        &-left-bottom,
                        &-right-bottom {
                            flex-direction: column;
                        }
                        &-left-bottom {
                            align-items: flex-start;
                            .icon {
                                border-left: none;
                                border-radius: 0 0.6rem 0.6rem 0;
                                &:last-child {
                                    border-radius: 0 0.6rem 0 0;
                                }
                            }
                        }
                        &-right-bottom {
                            align-items: flex-end;
                            .icon {
                                border-right: none;
                                border-radius: 0.6rem 0 0 0.6rem;
                                &:last-child {
                                    border-radius: 0.6rem 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
            &-content {
                flex-grow: 1;
                overflow: auto;
            }
            &-footer {
                height: 2.4rem;
                margin-bottom: 0;
                align-self: flex-end;
            }
        }

        .corner {
            position: absolute;
            display: flex;
            z-index: 1;

            &--position {
                &-left-top {
                    top: 0;
                    left: 0;
                }
                &-left-bottom {
                    left: 0;
                    bottom: 0;
                }
                &-right-top {
                    top: 0;
                    right: 0;
                }
                &-right-bottom {
                    right: 0;
                    bottom: 0;
                }
            }
    
        }
    }

    &--format {
        &-mini {
            width: 16.6rem; //44mm;
            height: 25.7rem; //68mm;
        }
        &-standard {
            width: 24.1rem; //64mm;
            height: 33.6rem; //89mm;

            .region {
                &--position {
                    &-cover {
                        height: 9rem;
                    }
                }
            }
        }
        &-oversize {
            width: 27.8rem; //79mm;
            height: 44.1rem; //120mm;
        }
    }

    .text-node {
        display: block;
        width: 100%;
        &.title {
            font-family: $font-default-serif;
            font-size: 1.2em;
            text-align: center;
            line-height: 1.2;
        }
        &.category {
            text-align: center;
            font-style: italic;
            + .description {
                margin-top: 0.8rem;
            }
        }
        &.description {
            line-height: 1.4;
            .in-text-icon {
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
                vertical-align: middle;
            }
            .no-wrap {
                white-space: nowrap;
            }
            + .description {
                margin-top: 0.4rem;
            }

            &--dots,
            &--dots-below {
                + .description--dots {
                    position: relative;
                    margin-top: 1.6rem;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -1.1rem;
                        left: 50%;
                        width: 2.4rem;
                        height: 1.2rem;
                        margin-left: -1.2rem;
                        background-image: radial-gradient($color-black 0.1rem, $color-white 0.2rem);
                        background-position: 0 0;
                        background-size: 0.8rem 0.8rem;
                        background-repeat: repeat-x
                    }
                }
            }
            &--or {
                font-size: 0.8em;
                text-align: center;
            }
        }
        &.trace-order {
            position: relative;
            padding-left: 2rem;
            &.trace-order--progressive {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0.5em;
                    bottom: -0.6rem;
                    left: 0.4em;
                    width: 0;
                    border-left: 0.2rem dashed $color-black;
                    z-index: 1;
                }
                &.trace-order--last {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .trace-pointer {
            position: absolute;
            top: 0.2em;
            left: 0;
            width: 1em;
            height: 1em;
            border: 0.2rem solid $color-black;
            border-radius: 50%;
            background-color: $color-white;
            z-index: 2;
        }
    }
    .cover {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $color-gallery-gray;
        border-radius: 0.6rem;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 6.4rem;
            margin: auto;
            mix-blend-mode: multiply;
        }
    }

    .icon {
        min-width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.2rem;
        border: 0.2rem solid $color-black;
        border-bottom: none;
        border-radius: 0.6rem 0.6rem 0 0;
        text-align: left;
        &--last {
            order: 99;
            margin-left: 0.2rem;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        &-image {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin: 0.1rem 0.2rem;
        }
        &-index {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            margin: 0.1rem 0.2rem 0 -0.2rem;
        }
        &-text {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 2.2rem;
            margin: 0 0.2rem 0 0;
            &:first-child {
                margin-left: 0.2rem;
            }
        }
    }

    &.mod {
        &--back {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg==');
            background-repeat: repeat;
            .back-icon {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 8rem;
                height: 8rem;
                mix-blend-mode: multiply;
            }
        }
        &--middle {
            .text-node {
                &.description {
                    text-align: center;
                    margin-top: 45%;
                    + .description {
                        margin-top: 0;
                    }
                }
            }
        }
        &--large-cover {
            .region--position-cover {
                height: 19rem;
            }
        }
    }
}
