.card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0 10px 10px 0;
    padding: 8px 8px 0;
    border: 2px solid $color-black;
    border-radius: 6px;
    background-color: $color-white;

    .dark-theme & {
        border-color: $color-gray;
    }

    .region {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        margin: 4px 0;
        font-size: 10px;
        &:first-child {
            margin-top: 0;
        }

        &--position {
            &-header {
                height: 30px;
                align-items: center;
                align-content: center;
            }
            &-cover {
                height: 70px;

                .icon {
                    background: $color-white;
                    border-color: transparent;
                }
                .corner {
                    &--position {
                        &-left-bottom {
                            .icon {
                                border-left: none;
                                border-radius: 0 6px 0 0;
                            }
                        }
                        &-right-bottom {
                            .icon {
                                border-right: none;
                                border-radius: 6px 0 0 0;
                            }
                        }
                    }
                }
            }
            &-content {
                flex-grow: 1;
                overflow: auto;
            }
            &-footer {
                height: 24px;
                margin-bottom: 0;
                align-self: flex-end;
            }
        }

        .corner {
            position: absolute;
            display: flex;
            z-index: 1;

            &--position {
                &-left-top {
                    top: 0;
                    left: 0;
                }
                &-left-bottom {
                    left: 0;
                    bottom: 0;
                }
                &-right-top {
                    top: 0;
                    right: 0;
                }
                &-right-bottom {
                    right: 0;
                    bottom: 0;
                }
            }
    
        }
    }

    &--format {
        &-mini {
            width: 166px; //44mm;
            height: 257px; //68mm;
        }
        &-standard {
            width: 241px; //64mm;
            height: 336px; //89mm;

            .region {
                &--position {
                    &-cover {
                        height: 90px;
                    }
                }
            }
        }
        &-oversize {
            width: 278px; //79mm;
            height: 441px; //120mm;
        }
    }

    .text-node {
        display: block;
        width: 100%;
        &.title {
            font-family: $font-default-serif;
            font-size: 1.2em;
            text-align: center;
            line-height: 1.2;
        }
        &.category {
            text-align: center;
            font-style: italic;
            + .description {
                margin-top: 8px;
            }
        }
        &.description {
            line-height: 1.4;
            .in-text-icon {
                display: inline-block;
                width: 12px;
                height: 12px;
                vertical-align: middle;
            }
            .no-wrap {
                white-space: nowrap;
            }
            + .description {
                margin-top: 4px;
            }

            &--dots,
            &--dots-below {
                + .description--dots {
                    position: relative;
                    margin-top: 16px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: -11px;
                        left: 50%;
                        width: 24px;
                        height: 12px;
                        margin-left: -12px;
                        background-image: radial-gradient($color-black 1px, $color-white 2px);
                        background-position: 0 0;
                        background-size: 8px 8px;
                        background-repeat: repeat-x
                    }
                }
            }
            &--or {
                font-size: 0.8em;
                text-align: center;
            }
        }
        &.trace-order {
            position: relative;
            padding-left: 20px;
            &.trace-order--progressive {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0.5em;
                    bottom: -6px;
                    left: 0.4em;
                    width: 0;
                    border-left: 2px dashed $color-black;
                    z-index: 1;
                }
                &.trace-order--last {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .trace-pointer {
            position: absolute;
            top: 0.2em;
            left: 0;
            width: 1em;
            height: 1em;
            border: 2px solid $color-black;
            border-radius: 50%;
            background-color: $color-white;
            z-index: 2;
        }
    }
    .cover {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $color-gallery-gray;
        border-radius: 6px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 64px;
            margin: auto;
            mix-blend-mode: multiply;
        }
    }

    .icon {
        min-width: 24px;
        height: 24px;
        margin-right: 2px;
        border: 2px solid $color-black;
        border-bottom: none;
        border-radius: 6px 6px 0 0;
        text-align: center;
        &--last {
            order: 99;
            margin-left: 2px;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        &-image {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 1px 2px;
        }
        &-index {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 1px 2px 0 -2px;
        }
        &-text {
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            line-height: 22px;
            margin: 0 2px 0 0;
            &:first-child {
                margin-left: 2px;
            }
        }
    }
}
